<div class="row">

	<div class="col col-md-5">
		<h2>About Us</h2>
		<hr>
		<p>
			<b>Lahorilal and Sons</b> brings to you premium Indian ethnic wear synonymous with style, class, beauty and elegance. At Lahorilal and Sons, we believe in recreating the whole experience of buying apparel from a store, online. Right from feeling the threads of tradition and culture woven into the purity of fabric, we offer all this without the nuisances and hassles of physical shopping. We encourage- exploring, choosing, experiencing and buying, right from the comfort of your home in a far away land.﻿

		</p>
	</div>
	<div class="col col-md-1 visible-lg" style="margin-right: 30px;height:100px;"></div>
	<div class="col col-md-5 col-sm-12 col-xs-12">
		<div class="visible-lg" style="height: 65px;"></div>
		<div class="visible-xs-inline-block visible-sm-inline-block" style="height: 0px;"></div>
		<%= image_tag('logo.svg') %>
	</div>
</div>